body {
  line-height: 1.5;
  font-size: 100%;
  color: #B7B7B7;
  background-color: #1A1A1A;
  background-image: url('/images/wall.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  clear: both;
  margin: auto;
  width: 90%;
}

/*LINKS*/
a, a:link, a:active {
  font-family: 'Nixie One';
  text-decoration: none;
  color: #B7B7B7;
}

a:hover, a:focus {
  color: #B7B7B7;
}

a:visited {
  color: #B7B7B7;
}
