#about div {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

#about article {
  width: 100%;
  padding-top: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  background: rgba(0, 0, 0, .7);
}

#about p {
  padding: 0 15px;
}

#about article img {
  margin: 20px 10px 0 10px;
  width: 70%;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FF0000, 0 0 10px #FF0000, 0 0 11px #FF0000, 0 0 15px #FF0000, 0 0 50px #FF0000;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    max-width: 19%;
    padding: .5em;
    color: black;
    font-size:.8em;
    margin: 1em;
    border: 3px solid #000;
  }

#home p {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: .2em;
  background: rgba(0, 0, 0, .7);
}
@media screen and (min-width: 550px) {
  #about article {
    width: 48%;
    margin-bottom: 50px;
  }
}
