#mini-menu {
  margin-right: 1em;
  color: #607625;
  font-size: 2em;
}

.main-nav {
  padding: 0.1em;
  float: right;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
  color: #bc170f;
}

.logo{
  text-align: center;
}

.neon {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
  color: #FF1177;
  font-family: Pacifico;
}

.neon a {
  color: #FF1177;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.neon a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}



.profPic{
max-width: 20%;
max-height: 20%;
}



footer {
  display: inline;
  margin-top: 6em;
}


@media only screen and (min-width: 640px) {
  #mini-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
    color: #B7B7B7;
  }

  .main-nav ul li:hover a {
    color: #832F24;
  }

}
