#mini-menu {
  margin-top: 1em;
  margin-right: 1em;
  color: #B7B7B7;
  font-size: 2em;
  float:right;
}

.main-nav {
  padding: 0.1em;
}

.main-nav h2 {
  margin-left: 1em;
  display: none;
  float: left;
}

.main-nav ul {
  margin-right: 1em;
  display: none;
  padding: 0;
  list-style: none;
  float: right;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
  color: #B7B7B7;
}

.neon {
  text-align: center;
  font-size: 5em;
  margin: 20px 0 20px 0;
  color: #FF0000;
  font-family: 'Quicksand';
}

.neon a {
  color: #FF0000;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.neon a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0000, 0 0 70px #FF0000, 0 0 80px #FF0000, 0 0 100px #FF0000, 0 0 150px #FF0000;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF0000, 0 0 35px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 75px #FF0000;
  }
}

#floating-panel {
  width: 100%;
  display: inline;
  margin: 0 20%;
  text-align: center;
  margin-bottom: -10px;
}

#floating-panel input {
  border-color: #FF0000;
  color: #FF0000;
  margin: 1.2em;
}
.profPic{
  max-width: 20%;
  max-height: 20%;
}

footer {
  display: inline;
  margin-top: 10em;
}
#map {
  width: 100%;
  height: auto;
}

#kingLogo {
  display: inline;
  float: right;
  width: 60px;
  height: auto;
  position: relative;
}


@media only screen and (min-width: 640px) {
  #mini-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;
    display: inline;
  }

  .main-nav h2 {
    display: inline-block;
    font-family: 'Nixie One';
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
    color: #B7B7B7;
  }

  .main-nav ul li:hover a {
    color: #832F24;
  }

  #map {
    width: 80%;
  }

}
